<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>
</head>
<body>
  <a href="#content" class="skip-link">Go to content</a>
  <header>
    <app-bar></app-bar>
  </header>

  <section class="hero">
    <div class="hero__inner">
      <h2 class="hero__title" tabindex="0">Welcome to Tnaruatser.</h2>
      <p class="hero__tagline" tabindex="0">Hallo Foodies! Explore the best restaurant here.</p>
    </div>
  </section>

  <main id="content">
    <section class="content">
      <h2 class="content__title" tabindex="0">Explore Restaurant</h2>
      <div class="content__inner" id="contentExplore"></div>
    </section>
    <section class="restaurant__of__the__month">
      <h2 class="rotm__title" tabindex="0">Restaurant of The Month</h2>
      <div class="rotm__inner" id="rotmExplore"></div>
    </section>
  </main>

  <footer>
    <p tabindex="0">copyright &copy; 2022 - Tnaruatser.</p>
  </footer>
</body>
</html>
